            * {
            box-sizing: border-box;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
            Oxygen, Ubuntu, Cantarell, sans-serif;
        }

        body {
            background-color: #15171D;
            color: #fff;
        }
        

.header__link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #585858;
    font-size: 19px;
    transition: all 0.2s ease;
}

.header__link:hover {
    color: #fff;
}

.header__container{
    display: flex;
    justify-content: center;
    gap: 55px;
    margin: 45px 0px 0px 120px;
    
}

.header__open{
    display: flex;
    gap: 50px;
    margin-left: 55px;
}

.open__modal {
    color: #fff;
    background-color: #15171D;
    border: 2px solid #7775D1;
    border-radius: 30px;
    padding:7px 55px ;
    font-size: 22px;
}

.open__modal:hover {
    background-color: #7775D1; 
    color: white;
}


.dropdown {
    position: relative;
    display: inline-block;
    display: flex;
}

.dropdown-trigger {
    cursor: pointer;
    color: #585858;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #15171D;
    padding: 20px 0px;
    min-width: 150px;

    /* Анимация */
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
}

.dropdown:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-list a {
    display: block;
    padding: 8px 0;
    color: #585858;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.2s ease;
}

.dropdown-list a:hover {
    color: white;
    transform: translateX(10px);
}


/* Полоска в начале (невидимая) */
.dropdown-list a::before {
    content: "";
    position: absolute;
    left: -20px; /* Далеко слева */
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    width: 3px;
    background-color: white;
    transition: left 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.dropdown-list a:hover {
    color: white;
    transform: translateX(10px);
}

.dropdown-list a:hover::before {
    left: -10px; /* Ближе, но не на тексте */
    opacity: 1;
}

