* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, sans-serif;
}

body {
    background-color: #15171D;
    color: #fff;
}

.header__link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #585858;
    font-size: 19px;
    transition: all 0.2s ease;
}

.header__link:hover {
    color: #fff;
}

.header__container{
    display: flex;
    justify-content: center;
    gap: 55px;
    margin: 45px 0px 0px 120px;
    
}

.header__open{
    display: flex;
    gap: 50px;
    margin-left: 55px;
}

.open__modal {
    color: #fff;
    background-color: #15171D;
    border: 2px solid #7775D1;
    border-radius: 30px;
    padding:7px 55px ;
    font-size: 22px;
    transition: all 0.3s ease;
}

.open__modal:hover {
    background-color: #7775D1; 
    color: white;
}

/* Выпадающий контейнер */
.dropdown {
    position: relative;
    display: flex;
}

.dropdown-trigger {
    cursor: pointer;
    color: #585858;
}

/* Выпадающий список */
.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #15171D;
    padding: 20px 0;
    min-width: 150px;
    
    /* Начальное состояние (скрыто) */
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
}

.dropdown:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-list a {
    display: block;
    padding: 8px 0;
    color: #585858;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.2s ease;
    position: relative;
}

.dropdown-list a:hover {
    color: white;
    transform: translateX(10px);
}

.dropdown-list a::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    width: 3px;
    background-color: white;
    opacity: 0;
    transition: left 0.3s ease, opacity 0.3s ease;
}
.dropdown-list a:hover::before {
    left: -10px;
    opacity: 1;
}
.container {
    display: flex;
    align-items: center;
    min-height: 70vh;
    padding-left: 240px;
    padding-top: 40px;
    
}
.logo-ring {
    width: 440px;
    height: 440px;
    border: 80px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.logo-text {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
}

.content {
    margin-left: 70px;
}

.head-h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    margin: 80px 10px 0 0;
    font-weight: 470;
}

.head-text {
    font-size: 19px;
    color: white;
}

.features {
    margin: 25px 0;
    
}

.try-button {
    background-color: #7775D1;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 20px;
    margin-top: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.try-button:hover {
    background-color: #fff;
    color: #7775D1;
}

.badge {
    display: inline-flex;
    align-items: center;
    margin: 30px 40px;
    font-size: 15px;
    color: #808080;
    cursor: pointer;
}

.badge:hover:before {
    animation-play-state: paused;
    opacity: 1;
    text-shadow: 0 0 20px #7775D1, 0 0 30px #7775D1;
}

.badge:before {
    content: "•";
    margin-right: 15px;
    color: #7775D1;
    animation: pulse 2s infinite;
    font-size: 30px;
    vertical-align: middle; 
}

@keyframes pulse {
    0% {
        opacity: 0.4;
        text-shadow: 0 0 15px #7775D1;
    }
    50% {
        opacity: 1;
        text-shadow: 0 0 15px #7775D1, 0 0 20px #7775D1;
    }
    100% {
        opacity: 0.4;
        text-shadow: 0 0 15px #7775D1;
    }
}

.control-section {
    position: relative;
    max-width: 1200px;
    margin: 80px auto;
    padding: 140px 20px;
}

.control-content {
    position: relative;
    background-color: #1E2026;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    gap: 40px;
    padding-bottom: 60px; 
}

.button-container {
    position: absolute;
    bottom: -25px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 100%;
    text-align: center;
}

.control-button {
    background-color: #fff;
    color: #7775D1;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
    position: relative;
}

.control-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.6);
}

.control-text {
    font-size: 19px;
    margin-bottom: 20px;
    color: #7c7c7c;
    font-weight: 500;
}

.video-container iframe {
    width: 100%;
    height: 315px;
    border-radius: 15px;
    border: none;
}

.text-content {
    flex: 1;
}

.video-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-wrapper {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
}

.video-wrapper iframe {
    width: 99%;
    height: 295px;
    border: 7px solid #7775D1;
    border-radius: 4%;
}

.control-title {
    font-size: 27px;
    color: #fff;
    margin-bottom: 30px;
    line-height: 1.4;
}



/*ЭТО СЛИТИ ДЛЯ СЛАЙДЕРА*/

.big-slide-text {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 400;
}


.games-slider-container {
    padding: 20px 20px;
    position: relative;
}

.galery-wrapper {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.galery {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.card-game {
    flex: 0 0 calc(25% - 15px);
    position: relative;
}

.card-game img {
    width: 100%;
    border-radius: 20px;
    display: block;
    cursor: pointer;
    transition: filter 0.2s ease-in-out; /* Плавный переход для фильтра */
    display: block;
    cursor: pointer;
}

.text-games-wrapper {
    width: 100%;
    overflow: hidden;
    margin-top: 25px;
}

.text-games {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.text-game-item {
    flex: 0 0 calc(25% - 15px);
    min-width: calc(25% - 15px);
    text-align: center;
}

.text-game {
    display: inline-block;
    background-color: rgb(26, 29, 38);
    border-radius: 25px;
    padding: 13px 30px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    min-width: 140px;
    transition: all 0.3s ease;
    white-space: nowrap;
    border: 1px solid transparent;
    cursor: pointer;
}

.text-game:hover {
    background-color: #7775D1;
    box-shadow: 0 0 20px rgba(119, 117, 209, 0.4);
    border-color: #7775D1;
}

.slider-dots {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 40px;
}

.dot {
    width: 22px;
    height: 10px;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.199);
    background-color: #15171D;
    cursor: pointer;
    transition: all 0.4s ease;
}

.dot.active {
    background-color: #7775D1;
    transform: scale(1.3);
}

.galery.transition, .text-games.transition {
    transition: transform 0.5s;
}


/* СТИЛИ ДЛЯ КАРТОЧЕК С ЦЕНАМИ */

.big-price-text{
    padding-top: 130px;
}

.text-card {
    background-color: #7775D1;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 380px;
    margin: 40px;
    border-radius: 20px;
    position: relative; /* Для позиционирования кнопки внутри */
}

.container-cards{
    display: flex;
    justify-content: center;
    position: relative;
}



.text-linear {
    display: flex;
    align-items: center;
    margin: 60px 0; 
}

.text-linear p {
    display: flex;
    align-items: center;
}

.text-linear svg {
    margin-right: 8px;
    vertical-align: middle;
}

.text-linear circle {
    cx: 10; 
    cy: 10;
    r: 5;
    fill: #fff;
}

.subtitle-big {
    font-size: 33px;
    margin: 10px 0 0 10px;

}
.mini-sub-text {
    font-size: 16px;
}

.price_subtitle-text {
    font-size: 33px;
    margin: 0 0 0 20px;
}

.sale-product {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7775D1;
    background-color: #fff;
    border-radius: 30px;
    width: 260px;
    height: 60px;
    font-size: 21px;
    position: absolute; /* Абсолютное позиционирование */
    bottom: -48px; /* Половина высоты кнопки (60px/2 = 30px) */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Точное центрирование */
    z-index: 1;
    cursor: pointer;
    transition: all 0.2s ease;
    border: none; /* Убираем границу если это кнопка */
    font-weight: 500;
}

.sale-product:hover {
    transform: translateX(-50%) translateY(-6px); /* Поднимаем на 4px */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    background-color: #f8f8f8;
}

.days {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #15171D;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    font-size: 20px;
    top: -40px;          /* Перемещаем вверх */
    right: -40px;        /* Перемещаем вправо */
    border: 3px solid #7775D1;  /* Фиолетовый бордер */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Необязательная тень для объема */
}
