* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, sans-serif;
}

body {
    background-color: #15171D;
    color: #fff;
}

.header__link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #585858;
    font-size: 19px;
    transition: all 0.2s ease;
}

.header__link:hover {
    color: #fff;
}

.header__container{
    display: flex;
    justify-content: center;
    gap: 55px;
    margin: 45px 0px 0px 120px;
    
}

.header__open{
    display: flex;
    gap: 50px;
    margin-left: 55px;
}

.open__modal {
    color: #fff;
    background-color: #15171D;
    border: 2px solid #7775D1;
    border-radius: 30px;
    padding:7px 55px ;
    font-size: 22px;
    transition: all 0.3s ease;
}

.open__modal:hover {
    background-color: #7775D1; 
    color: white;
}

/* Выпадающий контейнер */
.dropdown {
    position: relative;
    display: flex;
}

.dropdown-trigger {
    cursor: pointer;
    color: #585858;
}

/* Выпадающий список */
.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #15171D;
    padding: 20px 0;
    min-width: 150px;
    
    /* Начальное состояние (скрыто) */
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
}

.dropdown:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-list a {
    display: block;
    padding: 8px 0;
    color: #585858;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.2s ease;
    position: relative;
}

.dropdown-list a:hover {
    color: white;
    transform: translateX(10px);
}

.dropdown-list a::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    width: 3px;
    background-color: white;
    opacity: 0;
    transition: left 0.3s ease, opacity 0.3s ease;
}
.dropdown-list a:hover::before {
    left: -10px;
    opacity: 1;
}
.container {
    display: flex;
    align-items: center;
    min-height: 70vh;
    padding-left: 240px;
    padding-top: 40px;
    
}
.logo-ring {
    width: 440px;
    height: 440px;
    border: 80px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.logo-text {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
}

.content {
    margin-left: 70px;
}

.head-h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    margin: 80px 10px 0 0;
    font-weight: 470;
}

.head-text {
    font-size: 19px;
    color: white;
}

.features {
    margin: 25px 0;
    
}

.try-button {
    background-color: #7775D1;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 20px;
    margin-top: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.try-button:hover {
    background-color: #fff;
    color: #7775D1;
}

.badge {
    display: inline-flex;
    align-items: center;
    margin: 30px 40px;
    font-size: 15px;
    color: #808080;
    cursor: pointer;
}

.badge:hover:before {
    animation-play-state: paused;
    opacity: 1;
    text-shadow: 0 0 20px #7775D1, 0 0 30px #7775D1;
}

.badge:before {
    content: "•";
    margin-right: 15px;
    color: #7775D1;
    animation: pulse 2s infinite;
    font-size: 30px;
    vertical-align: middle; 
}

@keyframes pulse {
    0% {
        opacity: 0.4;
        text-shadow: 0 0 15px #7775D1;
    }
    50% {
        opacity: 1;
        text-shadow: 0 0 15px #7775D1, 0 0 20px #7775D1;
    }
    100% {
        opacity: 0.4;
        text-shadow: 0 0 15px #7775D1;
    }
}

.control-section {
    position: relative;
    max-width: 1200px;
    margin: 80px auto;
    padding: 140px 20px;
}

.control-content {
    position: relative;
    background-color: #1E2026;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    gap: 40px;
    padding-bottom: 60px; 
}

.button-container {
    position: absolute;
    bottom: -25px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 100%;
    text-align: center;
}

.control-button {
    background-color: #fff;
    color: #7775D1;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
    position: relative;
}

.control-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.6);
}

.control-text {
    font-size: 19px;
    margin-bottom: 20px;
    color: #7c7c7c;
    font-weight: 500;
}

.video-container iframe {
    width: 100%;
    height: 315px;
    border-radius: 15px;
    border: none;
}

.text-content {
    flex: 1;
}

.video-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-wrapper {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
}

.video-wrapper iframe {
    width: 99%;
    height: 295px;
    border: 7px solid #7775D1;
    border-radius: 4%;
}

.control-title {
    font-size: 27px;
    color: #fff;
    margin-bottom: 30px;
    line-height: 1.4;
}



/*ЭТО СЛИТИ ДЛЯ СЛАЙДЕРА*/

.big-slide-text {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 400;
}


.games-slider-container {
    padding: 20px 20px;
    position: relative;
}

.galery-wrapper {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.galery {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.card-game {
    flex: 0 0 calc(25% - 15px);
    position: relative;
}

.card-game img {
    width: 100%;
    border-radius: 20px;
    display: block;
    cursor: pointer;
    transition: filter 0.2s ease-in-out; /* Плавный переход для фильтра */
    display: block;
    cursor: pointer;
}

.text-games-wrapper {
    width: 100%;
    overflow: hidden;
    margin-top: 25px;
}

.text-games {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.text-game-item {
    flex: 0 0 calc(25% - 15px);
    min-width: calc(25% - 15px);
    text-align: center;
}

.text-game {
    display: inline-block;
    background-color: rgb(26, 29, 38);
    border-radius: 25px;
    padding: 13px 30px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    min-width: 140px;
    transition: all 0.3s ease;
    white-space: nowrap;
    border: 1px solid transparent;
    cursor: pointer;
}

.text-game:hover {
    background-color: #7775D1;
    box-shadow: 0 0 20px rgba(119, 117, 209, 0.4);
    border-color: #7775D1;
}

.slider-dots {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 40px;
}

.dot {
    width: 22px;
    height: 10px;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.199);
    background-color: #15171D;
    cursor: pointer;
    transition: all 0.4s ease;
}

.dot.active {
    background-color: #7775D1;
    transform: scale(1.3);
}

.galery.transition, .text-games.transition {
    transition: transform 0.5s;
}


/* СТИЛИ ДЛЯ КАРТОЧЕК С ЦЕНАМИ */

.big-price-text{
    padding-top: 130px;
}

.text-card {
    background-color: #7775D1;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 380px;
    margin: 40px;
    border-radius: 20px;
    position: relative; /* Для позиционирования кнопки внутри */
}

.container-cards{
    display: flex;
    justify-content: center;
    position: relative;
}



.text-linear {
    display: flex;
    align-items: center;
    margin: 60px 0; 
}

.text-linear p {
    display: flex;
    align-items: center;
}

.text-linear svg {
    margin-right: 8px;
    vertical-align: middle;
}

.text-linear circle {
    cx: 10; 
    cy: 10;
    r: 5;
    fill: #fff;
}

.subtitle-big {
    font-size: 33px;
    margin: 10px 0 0 10px;

}
.mini-sub-text {
    font-size: 16px;
}

.price_subtitle-text {
    font-size: 33px;
    margin: 0 0 0 20px;
}

.sale-product {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7775D1;
    background-color: #fff;
    border-radius: 30px;
    width: 260px;
    height: 60px;
    font-size: 21px;
    position: absolute;
    bottom: -48px;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 1;
    cursor: pointer;
    transition: all 0.2s ease;
    border: none;
    font-weight: 500;
}

.sale-product:hover {
    transform: translateX(-50%) translateY(-6px);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    background-color: #f8f8f8;
}

.days {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #15171D;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    font-size: 20px;
    top: -40px;     
    right: -40px;
    border: 3px solid #7775D1; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




.mini-container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-text  {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    padding: 0px 25px ;
    border-radius: 30px;
    background-color: #1E2026;
    height: 60px;
    margin: 0px 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.mini-text:hover {
    transform: translateY(-4px);
}

.mini-text.active {
    background-color: #7775D1 !important;
    box-shadow: 0 0 15px rgba(119, 117, 209, 0.5) !important;
    transform: translateY(-4px);
}

.container-mini-video {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.mini-video-ax {
    width: 900px;
    height: 506px;
    border-radius: 20px;
    border: 2px solid #7775D1; 
    box-shadow: 
        0 10px 30px rgba(119, 117, 209, 0.3),
        0 0 0 1px rgba(255, 255, 255, 0.1) inset;
    transition: all 0.3s ease;
}

.mini-video-ax:hover {
    transform: scale(1.01);
    box-shadow: 
        0 15px 40px rgba(119, 117, 209, 0.4),
        0 0 0 1px rgba(255, 255, 255, 0.2) inset;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
     z-index: 1000; /* ← И эту тоже (можно не обязательно) */
}

.modal__content {
    background: #1E2026;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    min-height: 370px;
     z-index: 1001; /* ← И эту тоже (можно не обязательно) */
}

.modal__cont-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.modal__close {
    cursor: pointer;
    height: 30px;
    width: 30px;
    transition: transform 0.2s;
}
.modal__close:hover{
    transform: rotate(90deg);
}

.sub__title {
    color: white;
    font-size: 18px;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}


.form__header {
    width: 320px;
    height: 49px;
    background-color: #2d3138;
    border: 0;
    border-radius: 5px;
    padding: 14px 20px;
    font-size: 16px;
}


.form__content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.entrance__button {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 12px 20px;
    background-color: #7775D1;
    border-radius: 50px;
    border: 0;

}

.entrance__button-2 {
        width: 320px;
    height: 49px;
}

.entrance__button:hover {
    background-color: white; 
    color: #7775D1;
}

.forget__button{
    color: #4d5057;
    font-size: 14px;
    font-weight: 600;
}

.header__block-entrance{
    padding: 37px 35px;
}

.header__forget-block {
    padding-left: 42px;
}

.forget__button:hover {
    text-decoration: none;
}

input:focus,
button:focus {
    outline: none;
}

.modal--registration .form__content {
    padding: 10px;
}

.windoy__content{
    max-width: 400px;
    min-height: 474px;
}

.form__content__captha{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}

.captha{
    width: 150px;
    height: 50px;
}

.form__captha{
    width: 160px;
    height: 49px;
}

.header__open span{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
    opacity: .3;
    transition: .12s;
}



.windoy__content{
    max-width: 400px;
    min-height: 474px;
}

.form__content__captha{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}

.captha{
    width: 150px;
    height: 50px;
}

.form__captha{
    width: 160px;
    height: 49px;
}

.header__open span{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
    opacity: .3;
    transition: .12s;
}




.image_focus {
    box-sizing: border-box; /* ← ВАЖНО! */
    border-radius: 9px;
    margin-left: 20px;
    border: 3px solid transparent; /* Прозрачный бордер по умолчанию */

}

.modal, .modal_windoy {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7); /* Полупрозрачный чёрный фон */
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal__content-3 {
    border: 2px solid #7775D1;
    padding: 20px;;
    position: relative;
    background: #1E2026;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    min-height: 370px;
     z-index: 1001; /* ← И эту тоже (можно не обязательно) */ 
    position: absolute;
}

.focus-modal-text {
    font-size: 22px;
    font-weight: 600;
    padding:  0 0 0 20px;
}

.modal-focus-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}

.modal-focus-link-container {
    display: flex;
    justify-content: center;
    background-color: #7775D1;
    width: 360px;
    height: 55px;
    border-radius: 26px;
    margin-top: 80px;
}

.image_focus.selected {
    border: 3px solid #7775D1 !important;
    filter: brightness(0.9) !important;
}